/* RESET */
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: "Segoe UI", sans-serif;
}

/* FONDO */
body{
background: radial-gradient(circle at top, #0f172a, #020617);
color:white;
font-family: Arial, Helvetica, sans-serif;
}

/* CONTENEDOR DE PARTICULAS */
#particles-js{
position:fixed;
width:100%;
height:100%;
top:0;
left:0;
z-index:0;
}

/* TITULO PRINCIPAL */

.titulo_prin{
text-align:center;
margin-top:40px;
font-size:50px;
letter-spacing:4px;
color:#38bdf8;
text-shadow:0 0 10px #38bdf8;
}

/* CONTENEDOR */

.contenido{
display:flex;
justify-content:center;
margin-top:40px;
position:relative;
z-index:1;
}

/* TARJETA */

.transferencia{
background:rgba(15,30,51,0.9);
padding:40px;
border-radius:20px;
width:70%;
box-shadow:0 15px 40px rgba(0,0,0,0.7);

animation: aparecer 1s ease;
}

/* ANIMACION */

@keyframes aparecer{

from{
opacity:0;
transform:translateY(30px);
}

to{
opacity:1;
transform:translateY(0);
}

}

/* TITULO SECUNDARIO */

.titulo_sec{
color:#4ade80;
font-size:30px;
margin-bottom:10px;
}

/* PARRAFO */

.parrafo{
color:#cbd5e1;
margin-bottom:30px;
font-size:16px;
}

/* CONTENEDOR BOTONES */

.puntos{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:18px;
}

/* BOTONES */

.puntos a{
text-decoration:none;
background:linear-gradient(135deg,#1d4ed8,#2563eb);
color:white;
padding:15px;
border-radius:10px;
font-weight:bold;
text-align:center;
transition:0.3s;

box-shadow:0 5px 15px rgba(0,0,0,0.4);
}

/* HOVER */

.puntos a:hover{

transform:translateY(-5px) scale(1.05);

background:linear-gradient(135deg,#2563eb,#3b82f6);

box-shadow:0 10px 25px rgba(0,0,0,0.6);

}